  <main>
   <% flash.each do |message_type, message| %>
     <div class="flash-message <%= message_type %>"><%= message %></div>
   <% end %>
   <%= yield %>
  </main>

  <table>

  <tr>
    <td>Title;</td>
    <td><%= @book.title %></td>
  </tr>
  <tr>
    <td>Body;</td>
    <td><%= @book.body %></td>
  </tr>
    <tr>
     <td><%= link_to "edit", edit_book_path(@book.id) %> </td>
     <td><%= link_to "back", books_path%> </td></td>
    </tr>
   
  
  
  
</table>

